<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel = "false" >
    <test name="Test 1">
        <groups>
            <run>
                <include name="Regression 1"/>
                <include name="Regression 2"/>
            </run>
        </groups>
        <classes>
            <class name="BuyingAnItemTest"/>
        </classes>
    </test>
</suite>